$light-primary: #38638b;
$light-secondary: #4caa34;
$light-subtext: #768288;
$light-background: #f8f3ee;
$light-foreground: #0c1a28;

$dark-foreground: $light-background;
$dark-background: $light-foreground;

$dark-primary: #ff9a4d;
$dark-secondary: #1adfbb;
$dark-subtext: #bebaa3;
$dark-foreground: #fcf8e1;
$dark-background: #1f1f24;

$themes: (
    light: (
        primary: $light-primary,
        secondary: $light-secondary,
        subtext: $light-subtext,
        background: $light-background,
        foreground: $light-foreground,
    ),
    dark: (
        primary: $dark-primary,
        secondary: $dark-secondary,
        subtext: $dark-subtext,
        background: $dark-background,
        foreground: $dark-foreground,
    ),
);

@function theme-color($theme, $color) {
    @return map-get(map-get($themes, $theme), $color);
}

$theme-map: null;

@mixin themify($themes: $themes) {
    @each $theme, $map in $themes {
        &.theme-#{$theme} {
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), "#{$key}");
                $theme-map: map-merge(
                    $theme-map,
                    (
                        $key: $value,
                    )
                ) !global;
            }

            @content;
            $theme-map: null !global;
        }
    }
}

@function themed($key) {
    @return map-get($theme-map, $key);
}
