@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&family=DM+Sans&family=EB+Garamond:ital,wght@0,200;0,500;0,800;1,500&family=Patua+One&display=swap');
@import url('https://cdn.jsdelivr.net/gh/aaaakshat/cm-web-fonts@latest/fonts.css')
@import "themes"

$header-size: 3rem
$body-size: 1.2rem
$title-font: 'DM Sans', sans-serif
$body-font: 'DM Sans', sans-serif
$monospace-font: 'DM Mono', monospace
$math-font: 'Computer Modern Serif', serif
$theme: light   // or dark

@mixin breakpoint($point)
    @if $point == desktop
        @media (min-width: 1025px)
            @content
    @else if $point == tablet
        @media (min-width: 481px) and (max-width: 1024px)
            @content
    @else if $point == mobile
        @media (max-width: 480px)
            @content


@mixin shadow-box
    border: 1px solid theme-color($theme, foreground)
    box-shadow: 0.5rem 0.5rem 0 theme-color($theme, foreground)
    overflow: auto
    box-sizing: content-box
    
    ul
        a
            color: theme-color($theme, accent)
            &:hover
                color: theme-color($theme, accent-2)
    
    h3
        font-size: calc(#{$header-size} - 1.5rem)
        position: absolute
        margin-top: -2.1rem

    ul
        padding: 0 0 0 2rem

    @content

body
    color: theme-color($theme, text)
    background: theme-color($theme, background)
    display: flex
    justify-content: center
    div.site
        width: 90%

        > .footer-wrapper
            font-family: $body-font
            margin-top: 2rem
            // padding: 1rem
            border-top: 1px solid theme-color($theme, foreground)
            text-align: center
            font-size: $body-size

            a
                color: theme-color($theme, accent)
                &:hover
                    color: theme-color($theme, accent-2)
        
    line-height: 1.5
    margin: 0
    padding: 0
    width: 100%
    box-sizing: border-box

header
    font-family: $title-font
    display: flex
    flex-flow: column nowrap
    width: 100%
    margin-bottom: 2rem

    #name::after
        content: ""
        display: block
        width: 72px
        height: 2px
        margin: 0.5rem 0 0 0
        background-color: theme-color($theme, accent)

    h1
        margin: 0
        padding: 0
        width: 100%
        box-sizing: border-box

    ul
        padding-left: 0
        margin-bottom: 0

        li
            display: inline-block
            margin-right: 1rem
            a
                color: theme-color($theme, accent)
                &:hover
                    color: theme-color($theme, accent-2)

div
    &.title-block
        font-family: $title-font
        text-align: center

        > h1.title
            font-size: $header-size
            margin: 0 auto
            display: block
        p.subtitle
            font-weight: 300
            color: theme-color($theme, subtext)
            margin-top: -1rem
            margin-bottom: 4rem

    &.toc
        display: block
        font-family: $monospace-font
        padding-right: 1rem
        @include shadow-box
        @include breakpoint(desktop)
            max-width: 60rem
            float: right

    &.annotation-wrapper
        display: block
        margin: auto
        @include breakpoint(desktop)
            max-width: 60%
        @include breakpoint(tablet)
            max-width: 80%
        @include breakpoint(mobile)
            max-width: 100%
        

    &.annotation
        display: flex

        >*
            font-size: 1rem
            font-weight: bold
            font-family: $monospace-font
            color: theme-color($theme, subtext)
            padding: 0
            margin
    
        >.language-name
            flex: 1

        >.context
            flex: 1
            text-align: right

article
    h1
        font-size: $header-size
    h2
        font-size: calc(#{$header-size} - 1rem)
    h3
        font-size: calc(#{$header-size} - 1.5rem)
    h4
        font-size: calc(#{$header-size} - 1.6rem)
    h5
        font-size: calc(#{$header-size} - 1.7rem)
    h6
        font-size: calc(#{$header-size} - 1.8rem)

    h1, h2, h3, h4, h5, h6
        margin-bottom: 0.4rem
    font-family: $body-font
    font-size: $body-size

dl
    display: block
    @include breakpoint(desktop)
        display: inline-block
    
    border-left: 5px solid theme-color($theme, accent)
    border-right: 5px solid theme-color($theme, accent)
    padding: 0.5rem 1rem
    @include breakpoint(desktop)
        margin: 2rem 25%
    @include breakpoint(tablet)
        margin: 0 10%
    @include breakpoint(mobile)
        margin: 0
        
        
    dt
        font-weight: bold
        // margin-bottom: 0.8rem

    dd
        font-style: italic
        margin: 0 2rem

img
    width: 100%
    margin: 0 auto


aside
    @include shadow-box
    
    @include breakpoint(desktop)
        margin: 3rem 20% 1rem 20%
    @include breakpoint(tablet)
        margin: 3rem 10% 1rem 10%
    @include breakpoint(mobile)
        margin: 3rem 0 1rem 0

    display: inline-block

    p
        padding: 0 1rem