@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&family=DM+Sans&family=EB+Garamond:ital,wght@0,200;0,500;0,800;1,500&family=Patua+One&display=swap');
@import url('https://cdn.jsdelivr.net/gh/aaaakshat/cm-web-fonts@latest/fonts.css')
@import "themes"

$header-size: 3rem
$body-size: 1.2rem
$title-font: 'DM Sans', sans-serif
$body-font: 'DM Sans', sans-serif
// $monospace-font: 'DM Mono', monospace
$monospace-font: 'Iosevka', monospace
// $math-font: 'Computer Modern Serif', serif
// $math-size: calc(#{$body-size} * 1.3)
$math-font: $monospace-font
$math-size: $body-size
$theme: dark   // light or dark


@mixin monospace-text
    font-family: $monospace-font
    font-size: 1.2rem
    font-weight: 400
    

@mixin math-font
    font-family: $math-font;
    font-size: calc(#{$body-size} * 1.3);
    font-weight: normal;

@mixin callout($type, $fg, $bg, $emoji)
    &.#{$type}
        background-color: $bg
        border-color: $fg
        padding: 1rem 2rem
        margin: 1rem 0 1rem 0
        width: 100%
        color: #1f1f24;
        
        .callout-header
            color: $fg
            font-weight: bold
            font-size: 1.4rem
            letter-spacing: 2px
            h3
                text-transform: lowercase
                margin: 0 0 1rem 0
                padding: 0
                padding-bottom: 0.2rem
                border-bottom: 1px solid $fg
            ::before
                content: "#{$emoji}"
                margin-right: .8rem

@mixin breakpoint($point)
    @if $point == desktop
        @media (min-width: 1025px)
            @content
    @else if $point == tablet
        @media (min-width: 481px) and (max-width: 1024px)
            @content
    @else if $point == mobile
        @media (max-width: 480px)
            @content


@mixin shadow-box
    overflow: auto
    box-sizing: content-box

    @include themify($themes)
        box-shadow: 0.5rem 0.5rem 0 themed(foreground)
        border: 1px solid themed(foreground)

    ul
        a
            @include themify($themes)
                color: themed(primary)
                &:hover
                    color: themed(secondary)
    
    h3
        font-size: calc(#{$header-size} - 1.5rem)
        position: absolute
        margin-top: -2.1rem

    ul
        padding: 0 0 0 2rem

    @content

pre
    padding: 1rem;
    margin-top: 0;
    margin-bottom: 3rem;
    overflow: auto;
    font-size: $body-size;
    @include monospace-text
    font-size: 1rem;

    [data-linenos]
        padding: 1rem 0;
        padding-left: 2rem;

    code
        @include monospace-text

    table
        td 
            padding: 0;
            font-size: 1rem;

        // line number cells
            :nth-of-type(1)
                text-align: center;
                user-select: none;

    mark 
        // If you want your highlights to take the full width.
        display: block;
        // The default background colour of a mark is bright yellow
        background-color: rgba(254, 252, 232, 0.9);

    table
        width: 100%;
        border-collapse: collapse;

body
    @include breakpoint(desktop)
        max-width: 80rem
        margin: 0 auto
    transition: all 0.2s
    @include themify($themes)
        color: themed(foreground)
        background: themed(background)
        .subtitle
            color: themed(subtext)
        @include themify($themes)
                a
                    color: themed(primary)
                    &:hover
                        color: themed(secondary)

        

    display: flex
    min-height: 100vh
    margin: 0
    justify-content: center

    

    .katex
        font-size: $math-size;
        font-family: $math-font;
        font-weight: normal;

    div.site
        width: 85%
        position: relative
        padding-bottom: 7rem
        min-height: calc(100vh - 7rem)
        > .footer-wrapper
            width: 100%
            position: absolute
            bottom: 0
            font-family: $body-font
            margin: 0 auto
            @include themify($themes)
                border-top: 1px solid themed(foreground)
            text-align: center
            font-size: $body-size
            @include themify($themes)
                a
                    color: themed(primary)
                    &:hover
                        color: themed(secondary)
                
        
    line-height: 1.5
    margin: 0
    padding: 0
    width: 100%
    box-sizing: border-box

header
    font-family: $title-font
    display: flex
    flex-flow: column nowrap
    width: 100%
    margin-top: 2rem
    margin-bottom: 2rem

    #name::after
        @include themify($themes)
            background-color: themed(primary)

        content: ""
        display: block
        width: 72px
        height: 2px
        margin: 0.5rem 0 0 0

    nav
        font-size: $body-size
        margin-bottom: 0.5rem

    h1
        margin: 0
        padding: 0
        width: 100%
        box-sizing: border-box
        font-size: calc(#{$header-size} - 0.5rem)

    ul
        padding-left: 0
        margin-bottom: 0

        li
            display: inline-block
            margin-right: 1rem
            a
                text-decoration: none
                @include themify($themes)
                    color: themed(primary)
                    &:hover
                        color: themed(secondary)

div
    @include themify($themes)
        &.annotation-title
            display: flex
            text-align: right
            >*
                @include monospace-text
                font-weight: bold
                color: themed(subtext)
                padding: 0
        
            >.language-name
                text-align: left
                flex: 1

            >.context
                flex: 1
                text-align: right

    &.title-block
        font-family: $title-font
        text-align: center

        > h1.title
            font-size: $header-size
            margin: 0 auto
            display: block
        > p.subtitle
            font-weight: 300
            margin-top: -0.5rem
            margin-bottom: 4rem
            // color: gray

    &.toc
        max-height: 14rem
        display: block
        padding-right: 1rem
        @include shadow-box
        @include monospace-text
        ul
            padding-left: 3rem

    &.annotation-wrapper
        display: inline-block
        width: 100%
        margin: 3rem auto 0 auto

    
            
    &.annotation-content
        margin: 0 auto
        @include breakpoint(desktop)
            max-width: 80%
        @include breakpoint(tablet)
            max-width: 90%
        @include breakpoint(mobile)
            max-width: 100%

    &.math-wrapper
        @include math-font
        @include themify($themes)
            > ul
                padding: 1rem 4rem
                border-left: 4px solid themed(secondary)
                border-right: 4px solid themed(secondary)
                @include breakpoint(mobile)
                    padding: 1rem 1rem
                    ul
                        list-style-type: "- "

        display: block
        margin: 0 auto
        font-size: $body-size

        ul
            list-style: none
        > ul
            margin: 0 auto
            padding-left: 0rem
            list-style: none

            @include breakpoint(mobile)
                padding-left: 0
            
            li
                p
                    margin: 0


        h2
            text-align: center
            span.katex
                font-size: calc(#{$header-size} * 0.75)
            
    &.boxed
        @include shadow-box

        margin: 4rem
        
        p
            padding: 0 2rem

    &.aside-wrapper
        width: 100%
        margin: 0
            

article
    margin-top: 2rem

article, section
    h1
        font-size: $header-size
    h2
        font-size: calc(#{$header-size} - 1rem)
    h3
        font-size: calc(#{$header-size} - 1.5rem)
    h4
        font-size: calc(#{$header-size} - 1.6rem)
    h5
        font-size: calc(#{$header-size} - 1.7rem)
    h6
        font-size: calc(#{$header-size} - 1.8rem)

    h1, h2, h3, h4, h5, h6
        margin-bottom: 0.4rem
    font-family: $body-font
    font-size: $body-size

.def-wrapper
    width: 100%
    display: flex
    justify-content: center

dl
    @include themify($themes)
        border-left: 5px solid themed(primary)
        border-right: 5px solid themed(primary)

    // display: block
    display: inline-block
    
    padding: 0.5rem 1rem
    @include breakpoint(desktop)
        margin: 2rem 20%
    @include breakpoint(tablet)
        margin: 0 10%
    @include breakpoint(mobile)
        margin: 0
        
        
    dt
        display: block
        font-weight: bold
        // margin-bottom: 0.8rem

    dd
        display: inline-block
        font-style: italic
        margin: 0 2rem

img
    width: 100%
    margin: 0 auto


aside
    max-height: 10rem
    @include shadow-box
    @include breakpoint(desktop)
        max-width: 30rem
        float: right
        margin: 3rem 0 2rem 3rem
    @include breakpoint(tablet)
        float: right
        margin: 3rem 0 1rem 1rem
    @include breakpoint(mobile)
        margin: 3rem 0 1rem 0

    display: inline-block

    p
        padding: 0 1rem

.callout-container
    width: auto
    display: flex
    justify-content: center

.callout
    border-left: 6px solid

    @include callout($type: "info", $fg: #3eaaca, $bg: #e3edf2, $emoji: "📘")
    @include callout($type: "error", $fg: #ff4747, $bg: #fdf7f7, $emoji: "❗")
    @include callout($type: "note", $fg: #22bd03, $bg: #f3f8f3, $emoji: "🐢")
    @include callout($type: "warning", $fg: #d6c102, $bg: #fcf8f2 , $emoji: "⚠️")

.cited-content
    margin: 0 auto
    padding: 1rem    

cite
    display: block
    text-align: right
    font-style: italic
    font-size: $body-size
    // color: theme-color($theme, secondary)

#toggle-theme
    width: 3rem
    position: fixed
    top: 1rem
    right: 1rem
    
    &.theme-dark
        filter: invert(100%)

table
    width: 100%
    margin: 0 auto
    @include breakpoint(desktop)
        max-width: 60rem
    @include breakpoint(tablet)
        max-width: 90%
    @include breakpoint(mobile)
        max-width: 100%

div.columns
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between
    margin: 0 auto
    @include breakpoint(desktop)
        max-width: 60rem
    @include breakpoint(tablet)
        max-width: 90%
    @include breakpoint(mobile)
        max-width: 100%

    >.column
        box-sizing: border-box
        margin: 0 auto
        >pre
            width: fit-content

abbr::after
    content: none

dfn
    text-decoration: underline;

dfn:hover
    background-color: rgba(0, 217, 255, 0.267);

[role=definition]
    @include shadow-box
    @include themify($themes)
        background-color: themed(background-highlight)
    position: absolute;
    display: block;
    visibility: hidden;
    font-size: 20px;
    font-family: Iosevka, monospace;
    padding: 0.5rem 1rem;
    border-radius: 10px;
