<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="{{ get_url(path='main.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/aaaakshat/cm-web-fonts@latest/fonts.css">
    {% if page.extra.mathjax %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css"
        integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ" crossorigin="anonymous">

    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.js"
        integrity="sha384-VQ8d8WVFw0yHhCk5E8I86oOhv48xLpnDZx5T9GogA/Y84DcCKWXDmSDfn13bzFZY"
        crossorigin="anonymous"></script>

    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/contrib/auto-render.min.js"
        integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>
    {% endif %}
    <title>Reece McMillin</title>
</head>

<body class="theme-light">
    <script>
        function toggleDarkMode() {
            var light_elements = document.querySelectorAll('.theme-light');
            var dark_elements = document.querySelectorAll('.theme-dark');
            [...light_elements].map(function(element) {
                element.classList.replace("theme-light", "theme-dark")
            });
            [...dark_elements].map(function(element) {
                element.classList.replace("theme-dark", "theme-light")
            });
        }
        
        document.addEventListener("DOMContentLoaded", function() {
            renderMathInElement(document.body, {
                delimiters: [
                    {left: '$$', right: '$$', display: true},
                    {left: '$', right: '$', display: false},
                    {left: '\\(', right: '\\)', display: false},
                    {left: '\\[', right: '\\]', display: true}
                ],
                // • rendering keys, e.g.:
                throwOnError : false
            });
        });
    </script>
    <div class="site">
        <header>
            <nav>
                <ul>
                    <li><a href="{{ get_url(path='/') }}">Home</a></li>
                    <li><a href="{{ get_url(path='about') }}">About</a></li>
                    <li><a href="{{ get_url(path='blog') }}">Blog</a></li>
                    <li><a href="{{ get_url(path='notes') }}">Notes</a></li>
                </ul>
                <img id="toggle-theme" class="theme-light" src="https://cdn0.iconfinder.com/data/icons/display-setting/64/Choose_theme-512.png" onclick="toggleDarkMode()" />
            </nav>
            <h1 id="name" class="theme-light">Reece McMillin</h1>
        </header>
        <section class="section">
            <div class="content">
                {% block content %} {% endblock %}
            </div>
        </section>
        <div class="footer-wrapper theme-light">
            <footer>
                <p>reece mcmillin, made with ♥ using <a href="https://www.getzola.org/">zola</a></p>
            </footer>
        </div>
    </div>
</body>

</html>