{% extends "base.html" %}

{% block content %}

<div class="title-block">
    <h1 class="title">
        {{ page.title }}
    </h1>
    <p class="subtitle"><strong>{{ page.date }}</strong></p>
</div>

{% if page.toc %}

<div class="toc theme-dark">
    <h3>Table of Contents</h3>
    <ul>
        {% for h1 in page.toc %}
        <li>
            <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
            {% if h1.children %}
            <ul>
                {% for h2 in h1.children %}
                <li>
                    <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>

{% endif %}

<article class="content light-theme">
    {{ page.content | safe }}
</article>
<script>
    var definitions = document.querySelectorAll('dfn');
    Array.from(definitions).forEach((def) => {
        const describedBy = def.getAttribute('aria-describedby');
        var definition = document.getElementById(describedBy);
        def.onmouseover = () => {
            definition.style.visibility = 'visible';
        };

        def.onmouseleave = () => {
            definition.style.visibility = 'hidden';
        };

    });
    
</script>

<footer class="neighbors">
    {% if page.earlier %}
        <div class="previous-post">
            <div class="neighbor-title">Previous</div>
            <a href="{{ page.earlier.permalink | safe }}">{{ page.earlier.title }}</a>
        </div>
    {% endif %}

    {% if page.later %}
        <div class="next-post">
            <div class="neighbor-title">Next</div>
            <a href="{{ page.later.permalink | safe }}">{{ page.later.title }}</a>
        </div>
{% endif %}
</footer>

{% endblock content %}