{% extends "base.html" %}

{% block content %}

<div class="title-block">
    <h1 class="title">
        {{ page.title }}
    </h1>
    <p class="subtitle"><strong>{{ page.date }}</strong></p>
</div>

{% if page.toc %}

<div class="toc theme-dark">
    <h3>Table of Contents</h3>
    <ul>
        {% for h1 in page.toc %}
        <li>
            <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
            {% if h1.children %}
            <ul>
                {% for h2 in h1.children %}
                <li>
                    <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>

{% endif %}

<article class="content light-theme">
    {{ page.content | safe }}
</article>

<script>
    const definitions = fetch('../../../definitions.json')
        .then(response => response.json())
        .then(data => {
            const instances = Array.from(document.getElementsByTagName('abbr'));
            instances.forEach(instance => {
                instance.setAttribute('title', data[instance.id])
            });
        });
</script>
{% endblock content %}